::-webkit-scrollbar{
    background-color: transparent;

    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: blueviolet;
    border-radius: 10px;
    display: none;
}
.groupsClass::-webkit-scrollbar-thumb:hover {
    background-color: blueviolet;
    border-radius: 10px;
    display: contents;
}